$fuenteprincipal: Arial,
Helvetica,
sans-serif;
$telefono: 480px;
$tablet: 768px;
$pc: 900px;
$primario: #E50914;
$secundario: #E87C03;
$gris1: #323232;
$gris2: #8c8c8c;
$gris3: #454545;
$blanco: #ffffff;
$negro: #000000;
